/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-variant: normal;;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Header */
header {
  background: #003cff5a;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 40px 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;  
}
img.logo{
height: 80px;
width: 80px;
}
.social img{
  width: 40px;
}
.footer-content {
 width: 80px;
}